@model AuthenticationTest.Web.Models.ChangePassword

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password</h1>
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.OldPassword)</td>
                <td>@Html.PasswordFor(m => m.OldPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.NewPassword)</td>
                <td>@Html.PasswordFor(m => m.NewPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ConfirmNewPassword)</td>
                <td>@Html.PasswordFor(m => m.ConfirmNewPassword)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Change" /></td>
            </tr>
        </table>
    }
    @Html.ValidationSummary()




</body>
</html>
