@model AuthenticationTest.Web.Models.Register

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    @using(Html.BeginForm("Register","Account",FormMethod.Post))
    { 
        @Html.AntiForgeryToken();
        <table>
            <tr>
                <td>@Html.LabelFor(m=>m.UserName)</td>
                <td>@Html.TextBoxFor(m => m.UserName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password)</td>
                <td>@Html.PasswordFor(m => m.Password)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Email)</td>
                <td>@Html.TextBoxFor(m => m.Email)</td>
            </tr>            
            <tr>
                <td><input type="submit" value="Register" /></td>
            </tr>
        </table>
    }
    @Html.ValidationSummary()
</body>
</html>
